body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Bodoni",Helvetica,Arial,Verdana,sans-serif;
  background-size: contain;
}

body::after {
  content: "";
  background-image: url("../images/BeachBaby.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.fc-day.fc-today.fc-state-highlight {
  background-color: rgba(69, 133, 181, .3);
}

.fc-title {
  color: white;
}

.fc-widget-header {
background: rgba(236, 100, 114, .2);
color: white;
text-shadow: 1px 1px black;
}


.fc-content {
  background: rgba(76, 186, 149, .4);
}

.planCat {
  opacity: 0;
}

.eventButton {
  z-index: 999;
  color: red;
  background: transparent !important;
  border: none;
}
#external-events {
  font-family: Kanit;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: rgba(76, 186, 149, .2);
  text-align: left;
  margin-left: 3%;
}

#external-events h4 {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px rgb(236, 100, 114);
  padding: 10px 0 10px 0;
  color: white !important;
  text-align: center;
}

.fc-center h2 {
  color: rgba(232, 165, 112, .8);
  font-size: 40px;
  font-family: Bodoni;
  font-weight: bold;
  margin: -15px 0 0 -40px;
}

#dragList {
  list-style: none;
  margin-left: -15px;
}

#external-events .fc-event {
  margin: 10px 0 0 -15px;
  cursor: pointer;
  font-size: 14px;
  background: rgba(232, 165, 112, .6);
}

#external-events p {
  margin: 1.5em 0;
  font-size: 14px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#main {
  width: 75%;
}

.fc-button-group, .fc-left {
  opacity: .6;
}

#external-events div {
  border: none;
}

body > div.container > ul > li > a {
  text-decoration: none;
}
