@media all and (min-width: 600px) and (max-width: 786px) {
  body > div.container > ul > li > a {
    font-size: 14px;
  }
  #eventDivs {
    width: auto;
  }
  .container {
    min-width: 100%;
  }
}
@media all and (min-width: 400px) and (max-width: 599px) {

  body > div.container > ul > li > a {
    font-size: 14px;
  }

  .container {
    min-width: 100%;
  }

  #wrap {
    max-width: 100%;
  }
  #calendar {
    max-width: 75%;
  }
  #external-events {
    padding  : 0;
    max-width: 15%;
  }

  #dragList, .fc-event {
    max-width: 50%;
  }
  #trashBin {
    max-height: 50%;
    margin: 0;
  }

  #drop-remove {
    display: none;
  }
  label {
    display: none;
  }
  #manualAdd {
    display: none;
  }

}

/* ----------- Apple Watch ----------- */
// @media (max-device-width: 42mm) and (min-device-width: 38mm) {
//
// }
